In [ ]:
#LIST****
#similar type of data only
#mutable in nature means it can be change

In [1]:
a=[1,2,3]
(type(a))

list

In [14]:
#Dimensions in 2D & 3D/slicing ...........  ..........  ...........
a=[2]*12
a

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [37]:
#2d array creat
b=[[0]*2]*4
b

[[0, 0], [0, 0], [0, 0], [0, 0]]

In [32]:
#3d array creat
c=[[[0]*2]*3]*6
c

[[[0, 0], [0, 0], [0, 0]],
 [[0, 0], [0, 0], [0, 0]],
 [[0, 0], [0, 0], [0, 0]],
 [[0, 0], [0, 0], [0, 0]],
 [[0, 0], [0, 0], [0, 0]],
 [[0, 0], [0, 0], [0, 0]]]

In [38]:
#list slicing*************
a=[1,2,3,4,5]
print(a[0:4])
print(a[0:6:2])

[1, 2, 3, 4]
[1, 3, 5]

In [ ]:
****************************************************************************************************************
Question practice

In [1]:
#for loop some problem and solution........... ........... .................
#list comprehension
a=['subrat', 'is', 'boy']
print([i[0]for i in a])

['s', 'i', 'b']

In [11]:
#1 st parent loop 2nd is chield loop
#square bracket it will manuulate string
#write loop first then append key value
print([x+y for x in 'cat' for y in 'fat' if x!='a' and y!='a'])

['cf', 'ct', 'tf', 'tt']

In [22]:
#multiply square up to 10 
b=[2,4,6,8,10,12]
print([i*i for i in range(0,11)])

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
#extend, pop, remove function............. ................ .............
a=[1,2,3]
b=[4,5,6]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]

In [37]:
#pop
a=[1,2,3,4,5]
a[3]=100
print (a.pop())
a

None

[1, 2, 100, 5]

In [49]:
#remove only speacfic number
d=[1,2,3,4,500]
print (d.remove(500))
d

None

[1, 2, 3, 4]

In [8]:
#max,min,sum.................
e=[1,2,3,4,5]
print (min(e))
print (sum(e))

1
15

In [16]:
#sum the list if value grater then 3?.....................
e=[1,2,3,4,5]
print(sum([i for i in e if i > 3]))

9

In [22]:
#list slicing append any value it will take 
f=e
f[2]=1000
f

[1, 2, 1000, 4, 5]

In [28]:
#if you take : then you will fix start and end value so it will take the exact value in the list not take the reference you will given
e=[1,2,3,4,5]
f=e[:]
f[2]=1000
print(e)

[1, 2, 3, 4, 5]

In [ ]:
#append,pop,in ..........................

In [34]:
#append will use insert a new element present in list
a=[1,2,3,4]
a.append(1000)
a

[1, 2, 3, 4, 1000]

In [35]:
#pop it will delete thet element present in list
a.pop(2)
a

[1, 2, 4, 1000]

In [36]:
#in use any element present in list or not....
print(2 in  a)
a

True

[1, 2, 4, 1000]

In [6]:
#simple trick find the value in the row
a=[1,2,3,4]
for i in a:
   print (i)

1
2
3
4