In [ ]:
#set*******************
#mutable
#not fetch element
#only unique element it take

In [16]:
#not allaw duplicate element it delete
a={1,2,3,3,4,5,5,6}
a

{1, 2, 3, 4, 5, 6}

In [18]:
b=[1,2,3,3,4,5,5,6]
print(set(b))

{1, 2, 3, 4, 5, 6}

In [9]:
#add function add one string
#update function update tuple & list which entered in 
a=set()
a.add(1)
a.update((4,2,3))
a

{1, 2, 3, 4}

#discard,remove,pop,clear
1.show the set if 1 not in there
2.need 3 other wise error
3.

In [12]:
#union only common element take
a={1,2,3}
b={2,3,4,5,6}
a.union(b)

{1, 2, 3, 4, 5, 6}

In [15]:
# intersection only common bet presnt in two it take
print(a.intersection(b))

{2, 3}